{% extends 'base.html.twig' %}

{% block title %}Hello MonitorController!{% endblock %}

{% block body %}
    <div id="hello">hello</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
