{% extends 'base.html.twig' %}

{% block title %}Hello MonitorController!{% endblock %}

{% block body %}
    <div id="hello">hello</div>
    <div id="container">
        <!-- This element's contents will be replaced with your component. -->
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
